@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

div.tooltip {
  position: absolute;

  padding: 10px 15px;
  font: 16px 'Open Sans', sans-serif;
  background: rgb(17 24 39);
  color: white;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.font-open {
  font-family: 'Open Sans', sans-serif;
}